.campanies{
    padding: 0 0 5rem 0;
    &__logo-box{
        //option 1 của TÁC GIẢ
        // max-width: 100%;
        //option2 của Ngoc Cuong: không có max-width
        height: 3rem;
        // margin-bottom: 2rem;
        padding: 0.5rem;
        text-align: center;
        position: relative;
        img{
            height: 100%;
            &:hover{
                filter: grayscale(120);
            }
        }
    }
}